body {
    background-color: #e9ecf3;
}

.contentLogin {
    background-color: #fff;

    border-radius: 1px;
    width: 400px;
    margin: 40px auto 0px;
    padding: 10px 30px 30px;
}

.form-title {
    font-weight: 300;
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.control-label {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
}



.inputLogin {
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
    border-radius:0px;
}