@model LaptopWebSite.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {

    }
    else
    {

        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <h4 style="float:left; color:gray">Or login with</h4>
                        <button style="border:0px; padding:0px;  margin-left:5px; margin-bottom:20PX; margin-top:5px" type="submit" class="btn btn-default" id="@p.AuthenticationType" value="@p.AuthenticationType" name="provider" title="Log in using your @p.Caption account"><img src="~/Content/facebook.png" /></button>
                    }
                </p>
            </div>
        }
    }
}
